
@import url("//hello.myfonts.net/count/2ef157");
@font-face {font-family: 'BrixSlab-Bold';src: url('https://sensebox.de/css/webfonts/2EF157_0_0.eot');src: url('https://sensebox.de/css/webfonts/2EF157_0_0.eot?#iefix') format('embedded-opentype'),url('https://sensebox.de/css/webfonts/2EF157_0_0.woff2') format('woff2'),url('https://sensebox.de/css/webfonts/2EF157_0_0.woff') format('woff'),url('https://sensebox.de/css/webfonts/2EF157_0_0.ttf') format('truetype');}
@font-face {font-family: 'BrixSlab-Regular';src: url('https://sensebox.de/css/webfonts/2EF157_1_0.eot');src: url('https://sensebox.de/css/webfonts/2EF157_1_0.eot?#iefix') format('embedded-opentype'),url('https://sensebox.de/css/webfonts/2EF157_1_0.woff2') format('woff2'),url('https://sensebox.de/css/webfonts/2EF157_1_0.woff') format('woff'),url('https://sensebox.de/css/webfonts/2EF157_1_0.ttf') format('truetype');}


.book-summary, .book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
	background-color: #f4f4f4;
  color: #4EAF47!important;
	font-family: BrixSlab-Bold;
}

.page-inner {
  background-color: #fff;
  color: #000;
  font-family: BrixSlab-Regular;
}

p, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: BrixSlab-Regular;
}

.description{
  background-color: #f4f4f4;
  color: #4EAF47;
  padding: 0 16px;
  border-radius:.5em;
}
.line{
	border-bottom: solid 2px #f4f4f4!important;
}

.head {
	border-left: solid 4px #999999!important;
  padding-left: 10px;
}

.box_info:before {
	
 }

.box_info, .box_success, .box_warning, .box_error {
    margin: 10px 0px;
    padding:12px;
 
}
.box_info {
	border-radius:.5em;
    border-left: 5px solid;
    background-color: #eff5ff;
    border-left-color: #42acf3; 
}
.box_success {
	border-left: 5px solid;
    background-color: #f3f8f3;
    border-left-color: #50af51; 
}
.box_warning {
	border-left: 5px solid;
    background-color: #fcf8f2;
    border-left-color: #f0ad4e; 
    
}
.box_error {
	border-left: 5px solid;
    background-color: #fdf7f7;
    border-left-color: #d9534f; 
}